$primary: #6b9eee; // 主色调、链接
$words: #373737; // 大部分文字、深色文字
$light-words: #999; // 少部分文字、浅色文字
$warn: #dc6a12; // 警告
$success: #7ebf50; // 成功
$gray: #b4b8bc; // 灰色
$dark: #202020; // 深色

$text-color-love:rgb(204, 13, 179);

$--width-base-container:1200px;

$linear-blue1:linear-gradient(52deg, #5ebcff 0%, #3ba1ff 40%, #005dcc 100%);
$linear-blue2: linear-gradient(-40deg, #4285f4, #0462ef);