@import './__variables.scss';
// use:  @extend

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
  }
/* use 
 .clearfix {
     @extend .clearfix;
 } */

 // 基础容器的宽度居中
.base-container-center{
  width: $--width-base-container;
  margin: 0 auto;
}